/*INDEX*/

body{
    font-family: 'Source Sans Pro';
}

.preHeader{
    height: 3vh;
    /*background-color:#FFA900;*/
    background: rgb(255,169,0);
    background: linear-gradient(180deg, rgba(255,169,0,1) 0%, rgba(255,169,0,1) 47%, rgba(0,0,0,1) 100%);
}

.postFooter{
    height: 3vh;
    /*background-color:#FFA900;*/
    background: rgb(255,169,0);
    background: linear-gradient(to top, rgba(255,169,0,1) 0%, rgba(255,169,0,1) 47%, rgba(0,0,0,1) 100%);
}

.logo{
    width: 75px;
    height: 75px;
}

.logomodal{
    width: 25px;
    height: 25px;
}

.header{
    justify-content: center;
}

.consulta{
    width: 100%;
    height: 705px;
    background: url(../img/fondotaxi1.jpg) no-repeat center top;
    background-size: cover; 
    filter: blur(10px);
}

.fondoHeader{
    background: rgb(46,48,51);
    background: linear-gradient(180deg, rgba(46,48,51,1) 43%, rgba(81,93,112,1) 100%);
}

.fondoFooter{
    background: rgb(46,48,51);
    background: linear-gradient(to top, rgba(46,48,51,1) 43%, rgba(81,93,112,1) 100%);
}

.colorMenu{
    background: rgb(52,58,64);
    background: linear-gradient(180deg, rgba(52,58,64,1) 8%, rgba(52,58,64,1) 44%, rgba(52,58,64,0.7091211484593838) 94%);
}

.modalHeader{
    background: rgb(255,169,0);
    background: linear-gradient(180deg, rgba(255,169,0,1) 0%, rgba(255,169,0,1) 47%, rgba(0,0,0,1) 100%);
}

.modalFooter{
    background: rgb(46,48,51);
    background: linear-gradient(180deg, rgba(46,48,51,1) 43%, rgba(81,93,112,1) 100%);
}



/*PAGINA INICIO SESION*/
